<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>

<div>
    <h3>Your clients</h3>

    <p class="lead">

    <form role="form">
        <div class="form-group">
            <table class="table">
                <thead>
                    <td>#</td>
                    <td>id</td>
                    <td>First name</td>
                    <td>Last name</td>
                </thead>
                <tr data-ng-repeat="client in clients._embedded.clients | orderBy:'firstName'">
                    <td>{{ $index }}</td>
                    <td>{{ client.id }}</td>
                    <td>{{ client.firstName }}</td>
                    <td>{{ client.lastName }}</td>
                </tr>
            </table>
        </div>
        <button type="button" class="btn btn-default" ng-click="getClients()">Refresh</button>
    </form>

    <br/>

</div>